{% extends 'base_generic.html' %}
{% block title %}
<title>
   Song List Page
</title>
{% endblock %}
{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/JOOX_font_logo.svg/1410px-JOOX_font_logo.svg.png" alt="JOOX Logo" width="350px">
<h1>JOOX Music Player List</h1>
<p> </p>
<p> </p>
   <ul>
      {% for song in listsongs %}
      <li><strong>{{ song }} </strong> ({{song.album}},{{song.singer}},{{song.genre}})</strong> - <a href="{% url 'delete_song' song.id %}">Delete</a></li>
      {% endfor %}
   </ul>
<p>
   <a href="{% url 'add_song' %}">Add Song</a>
</p>
   
{% endblock %}