.col-sm-2 {
    padding-top : 100 px;
    justify-content: left;
    background-color: black;
    color: aliceblue;
    font-size: 120%;
    
}
.col-sm-10 {
    min-height: 100vh;
    background-color: rgb(3, 187, 141);
    color: aliceblue;
    font-size: 105%;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.gambar{
    text-align: center;
    margin-top: 20px;
}

.text{
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer { /*makes a footer section*/
    height: 40px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 50px;
    color: black;
    font-size: 1px;
    background-color: white;
}

.col-9{
    margin-top: 200px;
}