{% extends 'base_generic.html' %}
{% block title %}
<title>
   Home Page
</title>
{% endblock %}
{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/JOOX_font_logo.svg/1410px-JOOX_font_logo.svg.png" alt="JOOX Logo" width="350px">
<h1>JOOX Music Player List</h1>
<p>We have all of your favorite songs</p>
<p>The JOOX App current songs :</p>
   <ul>
       {% for song in songs %}
       <li>{{ song }} </li>
       {% endfor %}
   </ul>
   <p>Click other menu to see our lists!</p>
   
{% endblock %}