{% extends "base_generic.html" %}

{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/JOOX_font_logo.svg/1410px-JOOX_font_logo.svg.png" alt="JOOX Logo" width="350px">
<h3>Song Writer Registered in the JOOX:</h3>
<ul>
{% for songwriter in songwriters %}
    <li><strong>{{ songwriter }}</strong> - <a href="{% url 'edit_songwriter' songwriter.id %}" class="w3-bar-item w3-button">Edit</a> - <a href="{% url 'delete_songwriter' songwriter.id %}" class="w3-bar-item w3-button">Delete</a></li>
{% endfor %}
</ul>
<p>
    <a href="{% url 'add_songwriter' %}" class="w3-bar-item w3-button">Add Song Writer</a>
</p>
{% endblock %}