{% extends "base_generic.html" %}

{% block content %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/JOOX_font_logo.svg/1410px-JOOX_font_logo.svg.png" alt="JOOX Logo" width="350px" >
<h3>Songs Registered in the JOOX:</h3>
<ul>
{% for song in songs %}
    <li><strong>{{ song }}</strong> <i> ({{ song.songwriter }}) </i> - <a href="{% url 'edit_song' song.id %}" class="w3-bar-item w3-button">Edit</a> - <a href="{% url 'delete_song' song.id %}" class="w3-bar-item w3-button">Delete</a></li>
{% endfor %}
</ul>
<p>
    <a href="{% url 'add_song' %}" class="w3-bar-item w3-button">Add Song</a>
</p>
{% endblock %}
